In [1]:
import csv
from dbfread import DBF 
import pandas as pd

In [2]:
#dbf_file = DBF('OD 2017/OD_2017_v1.dbf')

In [3]:
'''with open('OD_2017_original.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(dbf_file.field_names)
    for record in dbf_file:
        writer.writerow(list(record.values()))'''

"with open('OD_2017_original.csv', 'w', newline='') as csvfile:\n    writer = csv.writer(csvfile)\n    writer.writerow(dbf_file.field_names)\n    for record in dbf_file:\n        writer.writerow(list(record.values()))"

In [4]:
base = pd.read_csv('OD_2017_original.csv')

In [5]:
#A base original possui apenas variáveis numéricas dos tipos int e float. Algumas dessas variáveis numéricas são códigos descritos na documentação
base.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183092 entries, 0 to 183091
Data columns (total 128 columns):
 #    Column      Dtype
---   ------      -----
 0    ZONA        int64
 1    MUNI_DOM    int64
 2    CO_DOM_X    int64
 3    CO_DOM_Y    int64
 4    ID_DOM      int64
 5    F_DOM       int64
 6    FE_DOM      float64
 7    DOM         int64
 8    CD_ENTRE    int64
 9    DATA        int64
 10   TIPO_DOM    int64
 11   AGUA        int64
 12   RUA_PAVI    int64
 13   NO_MORAD    int64
 14   TOT_FAM     int64
 15   ID_FAM      int64
 16   F_FAM       int64
 17   FE_FAM      float64
 18   FAMILIA     int64
 19   NO_MORAF    int64
 20   CONDMORA    int64
 21   QT_BANHO    float64
 22   QT_EMPRE    float64
 23   QT_AUTO     float64
 24   QT_MICRO    float64
 25   QT_LAVALOU  float64
 26   QT_GEL1     float64
 27   QT_GEL2     float64
 28   QT_FREEZ    float64
 29   QT_MLAVA    float64
 30   QT_DVD      float64
 31   QT_MICROON  float64
 32   QT_MOTO     float64
 33   QT_SECAROU  float64
 34   QT_BICICLE  float64
 35   NAO_DCL_IT  int64
 36   CRITERIOBR  float64
 37   PONTO_BR    float64
 38   ANO_AUTO1   float64
 39   ANO_AUTO2   float64
 40   ANO_AUTO3   float64
 41   RENDA_FA    float64
 42   CD_RENFA    int64
 43   ID_PESS     int64
 44   F_PESS      int64
 45   FE_PESS     float64
 46   PESSOA      int64
 47   SIT_FAM     int64
 48   IDADE       int64
 49   SEXO        int64
 50   ESTUDA      int64
 51   GRAU_INS    int64
 52   CD_ATIVI    int64
 53   CO_REN_I    int64
 54   VL_REN_I    float64
 55   ZONA_ESC    float64
 56   MUNIESC     float64
 57   CO_ESC_X    float64
 58   CO_ESC_Y    float64
 59   TIPO_ESC    float64
 60   ZONATRA1    float64
 61   MUNITRA1    float64
 62   CO_TR1_X    float64
 63   CO_TR1_Y    float64
 64   TRAB1_RE    float64
 65   TRABEXT1    float64
 66   OCUP1       float64
 67   SETOR1      float64
 68   VINC1       float64
 69   ZONATRA2    float64
 70   MUNITRA2    float64
 71   CO_TR2_X    float64
 72   CO_TR2_Y    float64
 73   TRAB2_RE    float64
 74   TRABEXT2    float64
 75   OCUP2       float64
 76   SETOR2      float64
 77   VINC2       float64
 78   N_VIAG      float64
 79   FE_VIA      float64
 80   DIA_SEM     float64
 81   TOT_VIAG    int64
 82   ZONA_O      float64
 83   MUNI_O      float64
 84   CO_O_X      float64
 85   CO_O_Y      float64
 86   ZONA_D      float64
 87   MUNI_D      float64
 88   CO_D_X      float64
 89   CO_D_Y      float64
 90   ZONA_T1     float64
 91   MUNI_T1     float64
 92   CO_T1_X     float64
 93   CO_T1_Y     float64
 94   ZONA_T2     float64
 95   MUNI_T2     float64
 96   CO_T2_X     float64
 97   CO_T2_Y     float64
 98   ZONA_T3     float64
 99   MUNI_T3     float64
 100  CO_T3_X     float64
 101  CO_T3_Y     float64
 102  MOTIVO_O    float64
 103  MOTIVO_D    float64
 104  MOT_SRES    float64
 105  SERVIR_O    float64
 106  SERVIR_D    float64
 107  MODO1       float64
 108  MODO2       float64
 109  MODO3       float64
 110  MODO4       float64
 111  H_SAIDA     float64
 112  MIN_SAIDA   float64
 113  ANDA_O      float64
 114  H_CHEG      float64
 115  MIN_CHEG    float64
 116  ANDA_D      float64
 117  DURACAO     float64
 118  MODOPRIN    float64
 119  TIPVG       float64
 120  PAG_VIAG    float64
 121  TP_ESAUTO   float64
 122  VL_EST      float64
 123  PE_BICI     float64
 124  VIA_BICI    float64
 125  TP_ESBICI   float64
 126  DISTANCIA   float64
 127  ID_ORDEM    int64
dtypes: float64(95), int64(33)
memory usage: 178.8 MB

<>Removendo colunas desinteressantes para o trabalho<>
<>Os detalhes sobre cada coluna estão disponíveis no arquivo LAYOUT OD2017_v1.xlsx<>

In [7]:
colunas_removidas = ['ID_DOM', 'F_DOM', 'DOM', 'CD_ENTRE', 'DATA', 'AGUA', 'RUA_PAVI', 'ID_FAM', 'F_FAM', 'QT_BANHO', 'QT_EMPRE',
                     'QT_MICRO', 'QT_LAVALOU', 'QT_GEL1', 'QT_GEL2', 'QT_FREEZ', 'QT_MLAVA', 'QT_DVD', 'QT_MICROON', 'QT_SECAROU',
                     'NAO_DCL_IT', 'PONTO_BR', 'CD_RENFA', 'ID_PESS', 'F_PESS', 'PESSOA', 'MUNIESC', 'VINC1', 'VINC2',
                     'DIA_SEM', 'PAG_VIAG', 'TP_ESAUTO', 'VL_EST', 'VIA_BICI', 'TP_ESBICI']

colunas_categoricas = ['ZONA', 'MUNI_DOM', 'TIPO_DOM', 'CONDMORA', 'CRITERIOBR', 'SIT_FAM', 'SEXO', 'ESTUDA', 'GRAU_INS', 'CD_ATIVI', 'CO_REN_I', 'TIPO_ESC', 'TRAB1_RE', 'TRABEXT1', 'OCUP1',
                       'SETOR1', 'MUNITRA1', 'MUNITRA2', 'TRAB2_RE', 'TRABEXT2', 'OCUP2', 'SETOR2', 'ZONA_O', 'MUNI_O', 'ZONA_D', 'MUNI_D', 'ZONA_T1', 'MUNI_T1', 'ZONA_T2', 'MUNI_T2', 'ZONA_T3',
                       'MUNI_T3', 'MOTIVO_O', 'MOTIVO_D', 'MOT_SRES', 'SERVIR_O', 'SERVIR_D', 'MODO1', 'MODO2', 'MODO3', 'MODO4', 'MODOPRIN', 'TIPVG', 'PE_BICI']

df = base.drop(colunas_removidas, axis=1)
df[colunas_categoricas] = df[colunas_categoricas].astype('category');

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183092 entries, 0 to 183091
Data columns (total 93 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ZONA        183092 non-null  category
 1   MUNI_DOM    183092 non-null  category
 2   CO_DOM_X    183092 non-null  int64
 3   CO_DOM_Y    183092 non-null  int64
 4   FE_DOM      183092 non-null  float64
 5   TIPO_DOM    183092 non-null  category
 6   NO_MORAD    183092 non-null  int64
 7   TOT_FAM     183092 non-null  int64
 8   FE_FAM      183092 non-null  float64
 9   FAMILIA     183092 non-null  int64
 10  NO_MORAF    183092 non-null  int64
 11  CONDMORA    183092 non-null  category
 12  QT_AUTO     178930 non-null  float64
 13  QT_MOTO     178898 non-null  float64
 14  QT_BICICLE  178886 non-null  float64
 15  CRITERIOBR  178886 non-null  category
 16  ANO_AUTO1   115248 non-null  float64
 17  ANO_AUTO2   30966 non-null   float64
 18  ANO_AUTO3   5446 non-null    float64
 19  RENDA_FA    183092 non-null  float64
 20  FE_PESS     183092 non-null  float64
 21  SIT_FAM     183092 non-null  category
 22  IDADE       183092 non-null  int64
 23  SEXO        183092 non-null  category
 24  ESTUDA      183092 non-null  category
 25  GRAU_INS    183092 non-null  category
 26  CD_ATIVI    183092 non-null  category
 27  CO_REN_I    183092 non-null  category
 28  VL_REN_I    114861 non-null  float64
 29  ZONA_ESC    45490 non-null   float64
 30  CO_ESC_X    45490 non-null   float64
 31  CO_ESC_Y    45490 non-null   float64
 32  TIPO_ESC    45490 non-null   category
 33  ZONATRA1    102718 non-null  float64
 34  MUNITRA1    102718 non-null  category
 35  CO_TR1_X    102718 non-null  float64
 36  CO_TR1_Y    102718 non-null  float64
 37  TRAB1_RE    102718 non-null  category
 38  TRABEXT1    102718 non-null  category
 39  OCUP1       102718 non-null  category
 40  SETOR1      102718 non-null  category
 41  ZONATRA2    1761 non-null    float64
 42  MUNITRA2    1761 non-null    category
 43  CO_TR2_X    1761 non-null    float64
 44  CO_TR2_Y    1761 non-null    float64
 45  TRAB2_RE    1761 non-null    category
 46  TRABEXT2    1761 non-null    category
 47  OCUP2       1761 non-null    category
 48  SETOR2      1761 non-null    category
 49  N_VIAG      157992 non-null  float64
 50  FE_VIA      157992 non-null  float64
 51  TOT_VIAG    183092 non-null  int64
 52  ZONA_O      157992 non-null  category
 53  MUNI_O      157992 non-null  category
 54  CO_O_X      157992 non-null  float64
 55  CO_O_Y      157992 non-null  float64
 56  ZONA_D      157992 non-null  category
 57  MUNI_D      157992 non-null  category
 58  CO_D_X      157992 non-null  float64
 59  CO_D_Y      157992 non-null  float64
 60  ZONA_T1     18253 non-null   category
 61  MUNI_T1     18253 non-null   category
 62  CO_T1_X     18253 non-null   float64
 63  CO_T1_Y     18253 non-null   float64
 64  ZONA_T2     4689 non-null    category
 65  MUNI_T2     4689 non-null    category
 66  CO_T2_X     4689 non-null    float64
 67  CO_T2_Y     4689 non-null    float64
 68  ZONA_T3     640 non-null     category
 69  MUNI_T3     640 non-null     category
 70  CO_T3_X     640 non-null     float64
 71  CO_T3_Y     640 non-null     float64
 72  MOTIVO_O    157992 non-null  category
 73  MOTIVO_D    157992 non-null  category
 74  MOT_SRES    157992 non-null  category
 75  SERVIR_O    157992 non-null  category
 76  SERVIR_D    157992 non-null  category
 77  MODO1       157992 non-null  category
 78  MODO2       18253 non-null   category
 79  MODO3       4690 non-null    category
 80  MODO4       639 non-null     category
 81  H_SAIDA     157992 non-null  float64
 82  MIN_SAIDA   157992 non-null  float64
 83  ANDA_O      109707 non-null  float64
 84  H_CHEG      157992 non-null  float64
 85  MIN_CHEG    157992 non-null  float64
 86  ANDA_D      109707 non-null  float64
 87  DURACAO     157992 non-null  float64
 88  MODOPRIN    157992 non-null  category
 89  TIPVG       157992 non-null  category
 90  PE_BICI     49618 non-null   category
 91  DISTANCIA   157992 non-null  float64
 92  ID_ORDEM    183092 non-null  int64
dtypes: category(44), float64(40), int64(9)
memory usage: 77.3 MB